node_modules/
output/
candles/
key-pair/
lib/__pycache__/
__pycache__/
client/node_modules/
client/dist/
public/historical_data/
.vscode
mongodump/
ta-lib/
report.log
file.log
backtest_report.log
config.txt
nohup_node.out
nohup_python.out
