.entry-container {
    position: relative;
    padding: 16px;
}
    .new-entry-button {
        border: 1px solid black;
        position: absolute;
        right: 0px;
        top: 0px;
        background-color: #ddd;
    }
    .new-entry-button:hover{
        background-color: #eee;
    }

    .edit-panel {
        position: absolute;
        right: 8px;
        top: 8px;
        border: 1px solid black;
        width: 600px;
        height: 464px;
        background-color: white;
        z-index: 1;
        box-shadow: -5px 10px 5px #ddd;
    }
        .edit-panel--close {
            position: absolute;
            right: 8px;
            top: 8px;
            font-size: 16px;
        }
        .edit-panel--title {
            font-size: 28px;
            text-align: center;
            padding: 4px;
            background-color: #c7b5ff;
            color: white;
        }
        .edit-panel--form {
            padding-top: 16px;
            text-align: center;
        }
            .edit-panel--input {
                width: 400px;
                height: 30px;
                font-size: 16px;
            }
            .edit-panel--search {
                border: 1px solid #ddd;
                height: 130px;
                margin-left: 136px;
                width: 393px;
                margin-top: 10px;
                padding: 4px;
            }
                .edit-panel--search__input {
                    width: 100%;
                    box-sizing: border-box;
                }
                .edit-panel--search__output {
                    text-align: left;
                    margin-top: 4px;
                    border: 1px solid #aaa;
                    height: 78%;
                    overflow-y: auto;
                }
                .edit-panel--search__output p {
                  padding: 2px;
                  cursor: pointer;
                  margin-left: 1px;
                }
                .edit-panel--search__output p:hover{
                    background-color: #fafafa;
                    cursor: pointer;
                }

    .entry-record-container {
        position: relative;
        border: 1px solid #ddd;
        border-radius: 4px;
        width: 440px;
        background-color: #fafafa;
        margin: 8px;
    }
        .entry-record--title {
            padding: 6px;
            font-weight: bold;
        }
        .entry-record-status {
            position: absolute;
            right: 4px;
            bottom: 4px;
            border: 1px solid #ff9090;
            width: 20px;
            height: 20px;
            background-color: #ff9090;
        }
        .entry-record-status-green {
            border: 1px solid #adfaad;
            background-color: #adfaad;
        }
        .entry-record-icons {
            position: absolute;
            right: 4px;
            top: 4px;
        }
        .entry-record-icons button {
            border: 1px solid #ddd;
            border-radius: 2px;
            background-color: #fafafa;
        } 
        .entry-record-icons button:hover {
            background-color: white;
        }
        .entry-properties {
            margin-top: 16px;
            padding: 8px;
        }