.property-row {
    padding: 6px;
}
    .property-key {
        min-width: 160px;
        display: inline-block;
    }
    .property-value {
        min-width: 200px;
        display: inline-block;
        /* margin: 0px; */
    }